@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<marquee behavior="alternate" width="500px" bgcolor="yellow">@ViewData["Name"] </marquee>

<p>Use this area to provide additional information.</p>
